table {
	border-collapse: collapse;
}

table, th, td {
    width: 90%;
    border: 5px solid black;    
    background-color: #AFEEEE;
}

th, td {
	height: 50px;
	vertical-align: bottom;
	padding: 18px;
}